<h3 class="my-5">
    Contact us
</h3>

<div class="row gx-5">
    <img src="~/img/contact.jpg" class="img-fluid col-5"/>
    <div class="col-7">
        <h1>We'd Love to Hear from You</h1>
        <h5>Please contact us by sending an email using the button below</h5>
        <email address="info@@baketry.com" content="Contact us" class="btn btn-secondary"></email>
    </div>
</div>