@model PastryListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Pastries)
    {
        <partial name="_PastryCard" model="item" />
    }
</div>


